node_modules/
dist/
build/
.expo/
.turbo/
coverage/
*.log
.env
.env.*
!.env.example
.DS_Store
# datos locales de PGlite
.pglite/
tmp/
apps/customer/dist/
apps/customer/.expo/
apps/admin/dist/
apps/driver/dist/
apps/driver/.expo/
